<% provide(:title, 'About') %>


   <h1> What is ASK@MIT? </h1>
   
   <p>
      Think back to freshmen year (or if you are a freshman, reflect on your life here at MIT right now). Do you remember having
      questions about cool professors/courses to take, good places to get Italian food, or frats that host the awesomest parties?

      <br><br>
 
      Well, ASK@MIT is the place for you to ask those questions! Feel free to post whatever questions/answers you have, and hear
      what your fellow classmates and other members of the MIT community have to say!

      <br><br>
 
      Now ASK away!

      
   </p>

