<% provide(:title, 'Contact') %>

<h1> Contact Us</h1>
<p>
  
   If you have any questions, concerns, or suggestions on how we can improve your experience here on the site, feel
   free to contact us at InfoSquad@mit.edu!


</p>
