<div class="center askmit-logo-large">
  <div id="front-page-img"><%= image_tag("site.png", alt: "Site") %></div>

  <h2>Inquire. Share. Connect.</h2>

  <%= link_to "Enter Forum", main_url, class: "btn btn-large btn-primary center" %>

</div>

<div id="social-sharing" class="pull-right">
  <div class="facebook social"> <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fobscure-earth-7041.herokuapp.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
  </div>

  <div class="twitter social"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://obscure-earth-7041.herokuapp.com/" data-text="InfoSquad">Tweet</a>
  </div>
  <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300"></div>
</div>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>