<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Ask@MIT, <%= @user.first_name %></h1>
<p>
  Please go to this link to confirm this is your email address. </br>
  http://obscure-earth-7041.herokuapp.com<%=  @url %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>