<%= form_for [@question, @answer], :remote => :true do |f| %>

	<%= f.text_area :content, :class => "answer-field", :rows => 5, :placeholder => "Add your answer here!" %>
	
	<label class="checkbox anon-checkbox">
		<%=f.check_box :is_anon%> 
		Post anonymously
	</label>

	<%= f.submit "Post", :class => 'btn post-btn' %>
	<div class="clearfix"></div>
<% end %>